langchain
langchain-groq
langchain-tavily
faiss-cpu
tiktoken
langchain-community
langchain-openai
openai
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
pandas
langgraph
pinecone
fastapi[standard]
uvicorn[standard]
nest_asyncio
